* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffff;
}

.header {
  justify-content: space-between;
  flex-direction: row;
  background: #ffff;
  align-items: center;
  position: fixed;
  padding: 10px;
  display: flex;
  z-index: 100;
  gap: 10px;
  top: 0;
  left: 0;
  right: 0;
}


.search:focus {
  border: 3px solid rgb(60, 161, 168);
  outline: none
}

nav a {
  text-decoration: none;
  color: #000;
  font-weight: 600;
  padding: 10px 15px;
  border-radius: 20px;
}

nav a.active {
  background: #000;
  color: #fff;
}

nav a img {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  object-fit: cover;
}

.logo {
  font-size: 30px;
  color: #e60023;
}

input {
  width: 100%;
  padding: 15px;
  border-radius: 20px;
  border: none;
  outline: none;
  background: #e9e9e9;
  font-weight: 500;
}

a.icon {
  font-size: 20px;
  border-radius: 50px;
}

a.icon:hover {
  background: #d2d2d2;
}

#container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 100px;
  padding: 150px 100px 0 100px;
}

.col {
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 10px;
}

.col {
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 10px;
  width: calc(100% / 2);
  transition: width 0.5s ease;
}

@media (min-width: 400px) {
  .col {
    width: calc(100% / 3);
  }
}

@media (min-width: 700px) {
  .col {
    width: calc(100% / 3);
  }
}

@media (min-width: 900px) {
  .col {
    width: calc(100% / 4);
  }
}


@media (min-width: 1500px) {
  .col {
    width: calc(100% / 5);
  }
}

@media (min-width: 1700px) {
  .col {
    width: calc(100% / 6);
  }
}

@media (min-width: 1900px) {
  .col {
    width: calc(100% / 7);
  }
}

@media (min-width: 2000px) {
  .col {
    width: calc(100% / 8);
  }
}

@media (min-width: 2100px) {
  .col {
    width: calc(100% / 9);
  }
}
@media (min-width: 2200px) {
  .col {
    width: calc(100% / 10);
  }
}

.card {
  margin: 0;
  width: 100%;
}

.card img {
  width: 100%;
  height: auto;
  object-fit: contain;
  border-radius: 20px;
  filter: contrast(90%);
}

.card:hover {
  cursor: pointer;
  filter: brightness(60%);
  transition: 0.15s;
}

.card:active {
  opacity: 0.6;
}

#loader {
  border: 4px solid #f3f3f3;
  border-top: 4px dotted #abacad;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
  margin: 20px auto;
  margin-top: 100px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
